<footer class="site-footer">
  <div class="content-wrapper wrapper--wide footer-grid">

    <div class="footer-col footer-col--left">
      <strong>VAIRA ADVISORY</strong><br>
      Turning deep-tech innovation into scalable industrial solutions.
    </div>

    <div class="footer-col footer-col--center">
      <a href="mailto:info@vaira-advisory.com">info@vaira-advisory.com</a>
    </div>

    <div class="footer-col footer-col--right">
      Based in Switzerland. <br> Working with clients, partners &amp; suppliers globally.
    </div>

  </div>
</footer>
